@model LIBRARYMVC.Models.Entity.TBLCATEGORY
@{
    ViewBag.Title = "CategoryGet";
    Layout = "~/Views/Shared/LıbraryLayout.cshtml";
}


<div class="col-md-6 mx-auto form-group "style="margin-top:15%">
    <h6 class="fw-bold text-xxl-center" >Kategori Güncelleme Sayfası</h6>
    <hr style="border:solid 2px black" />
    @using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
    {
        <div>
          
            <label>Kategori ID</label>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })

            <br />

            <label>Kategori Adı</label>
            @Html.TextBoxFor(x => x.NAME, new { @class = "form-control" })
        </div>
        <div >
            <button class="btn fw-semibold w-100" style="margin-top: 25px; margin-bottom: 50px; background-color: #202f44; color: aliceblue">Güncelle</button>
        </div>
    }

</div>
