
@{
    ViewBag.Title = "WeatherCard";
    Layout = "~/Views/Shared/LıbraryLayout.cshtml";
}

<div class="mt-3"></div>
@* İstanbul *@
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0128d98/istanbul/" data-label_1="İSTANBUL" data-label_2="Hava Durumu" data-theme="original">İSTANBUL Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>


<br />
@* Antalya *@

<a class="weatherwidget-io" href="https://forecast7.com/tr/36d9030d71/antalya/" data-label_1="ANTALYA" data-label_2="Hava Durumu" data-theme="original">ANTALYA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
@* Ankara *@
<a class="weatherwidget-io" href="https://forecast7.com/tr/39d9332d86/ankara/" data-label_1="ANKARA" data-label_2="Hava Durumu" data-theme="original">ANKARA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
@* Kütahya *@
<a class="weatherwidget-io" href="https://forecast7.com/tr/39d4229d99/kutahya/" data-label_1="KÜTAHYA" data-label_2="Hava Durumu" data-theme="original">KÜTAHYA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
@* Düzce *@
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d8431d16/duzce/" data-label_1="DÜZCE" data-label_2="Hava Durumu" data-theme="original">DÜZCE Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
@* Mersin *@

<a class="weatherwidget-io" href="https://forecast7.com/tr/36d8134d64/mersin/" data-label_1="MERSIN" data-label_2="Hava Durumu" data-theme="original">MERSIN Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
@* Denizli  *@
<a class="weatherwidget-io" href="https://forecast7.com/tr/37d7829d10/denizli/" data-label_1="DENIZLI" data-label_2="Hava Durumu" data-theme="original">DENIZLI Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>